    <div class="footer_container"></div>
    <div class="copyright">Copyright © 2015 #happyLA. <%= image_tag "copyright_logo.png", class: "copyright_logo" %> and related marks are registered trademarks of #happyLA.</div>